@import url('https://fonts.googleapis.com/css?family=Raleway|Dancing+Script|Gloria+Hallelujah|Great+Vibes|Indie+Flower|Kaushan+Script|Tangerine');

body.main {
	margin-left: -5px;
	margin-top: -5px;
	background-color: #EDE7E3;
	}
	
p.p_menu {
	font-family: 'Great Vibes'; 'cursive';
	color: white;
	font-size: 70px;
	margin-top: 15px;
	margin-bottom: -15px;
	}
	
p.p_title {
	font-family: 'Great Vibes'; 'cursive';
	color: black;
	font-size: 70px;
	margin-top: 0px;
	margin-bottom: 0px;
	}
	
p.p_text {
	font-family: 'Raleway', 'sans-serif';
	color: black;
	font-size: 25px;
	margin-top: 10px;
	margin-bottom: 0px;
	}

i {
	color: white;
	font-size: 50px;
	transition: .2s all ease-in-out;
	text-align: center;
}
	
a {
    color: white;
    text-decoration: none;
    transition: .2s all ease-in-out;
}

a:hover {
    font-size: 33px;
}

a:link:active, a:visited:active { 
  color: grey;
  transition: .05s all ease-in-out;
}



iframe {
    width: 100%;
    height: 500px;
    border: 0px white none;
    sandbox: allow-top-navigation;
}

.inactive {
	opacity: 0;
	transform: translateY(-8px);
}

#menulist {
	transition: .2s all ease-in-out;
	color: white;
	font-size: 30px;
	line-height: 1.4;
    text-align: center;
	font-family: 'Raleway', 'sans-serif';
	padding-top: 15%;
}

#menuicon {
	width: 31.25px;
	}
	
div.main {
    margin-left: 350px;
    padding-left: 40px;
	padding-right: 40px;
	padding-top: 30px;
    padding-bottom: 30px;
    word-wrap: break-word;
}

body.welcome {
    margin-left: 0px;
    margin-top: 0px;
    padding-left: 20px;
	padding-right: 20px;
	padding-top: 15px;
    padding-bottom: 15px;
    background-color: #EDE7E3;
}

.menu {
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 30px;
	background-color: #222725;
	height: 2000px;
	width: 270px;
	position: fixed;
}

.menuhr {
    width: 170px;
}

.extended {
	transform: scaleY(2) translateY(2px);
}
	
.inactive {
	opacity: 0;
	transform: translateY(-6px);
}

.menuextend {
	height: 1px;
	width: calc(100% - 1px);
	color:  white;
	background-color: white;
	border: 1px solid white;
	transition: .2s all ease-in-out;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
