@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

* { box-sizing:border-box; margin:0; padding:0; }

html { height:100%; width:100%; }

 body {

  align-content:center;
  align-items:space-around;
  background-color:#202830;
  display:grid;
  justify-items:center;
  height:100%;
  width:100%;
  font-family: 'Indie Flower', cursive;

}

h1 {

  font-size: 300%;
  color: rgb(255, 242, 194);

}

canvas {

  border: 1px solid black;
  background: rgb(255, 242, 194);

}
