@import url('https://fonts.googleapis.com/css?family=Raleway|Dancing+Script|Gloria+Hallelujah|Great+Vibes|Indie+Flower|Kaushan+Script|Tangerine');
	
p.p_title {
	font-family: 'Great Vibes'; 'cursive';
	color: black;
	font-size: 70px;
	margin-top: 0px;
	margin-bottom: 0px;
	}
	
p.p_text {
	font-family: 'Raleway', 'sans-serif';
	color: black;
	font-size: 25px;
	margin-top: 10px;
	margin-bottom: 0px;
	}

body.welcome {
    margin-left: 0px;
    margin-top: 0px;
    padding-left: 20px;
	padding-right: 20px;
	padding-top: 15px;
    padding-bottom: 15px;
    background-color: #EDE7E3;
}

button {
	height: 50px;
	width: 100px;
	border: 1px solid black;
	border-radius: 90%;
	color: white;
	background-color: black;
}
